.moveArticle {
    background-image:url("./lib-icons/arrow.png") no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}

.flagArticle {
    background-image:url("./lib-icons/flag.png") no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}

.deleteArticle {
    background-image:url("./lib-icons/trash.png") no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}

.listClass {
    width: 50%;
}