.table {
    background-color: transparent;
}

.moveArticle {
    background-image:url("./lib-icons/arrow.png");
    background-size: cover;
    cursor: pointer;
    width: 35px;
    height: 25px;
    border: none;
}

.flagArticle {
    background-image:url("./lib-icons/flag.png");
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}

.deleteArticle {
    background-image:url("./lib-icons/trash.png");
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
}

.listClass:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}