.library-filterbox {
    color: white;
    background-color: #9EC1A3;
    border-radius: 15px;
    border-top: 5px solid white;
    border-right: 4px solid white;
    border-bottom: 5px solid white;
    margin: 10px;
    height: 500px;
}

.library-submit {
    color: white;
    font-weight: 700;
    background-color: #CFE0C3;
    border-radius: 5px;
    display: flex;
}

.library-filterbox:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}