.search-filterbox {
    color: white;
    background-color: #52899b;
    border-top: 5px solid white;
    border-right: 4px solid white;
    border-bottom: 5px solid white;
    border-radius: 15px;
    margin: 10px;
}

.search-submit {
    color: white;
    font-weight: 700;
    background-color: #A2D4E5;
    border-radius: 5px;
}

.menu-items {
    padding-right: 10px;
}

.search-filterbox:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}