.search-filterbox {
    color: white;
    background-color: #52899b;
    border-radius: 15px;
    margin: 10px;
}

.search-submit {
    color: white;
    font-weight: 700;
    background-color: #A2D4E5;
    border-radius: 5px;
}

.menu-items {
    padding-right: 15px;
}