#topbar {
    width: 100%;
    height: 250px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.header-background {
    background-image:url("./logo/header.png");
    width: 100%;
    height: auto;
}

.logo {
    width: auto;
    height: 200px;
    display: flex;
    float: left;    
    margin: 10px;
}

.search-bar {
    align-items: center;
}

.all-buttons {
    position: absolute;
    right: 15px;
}

.sign-up {
    color: white;
    font-weight: 700;
    background-color: #52899b;
    outline: #52899b;
}

.textcontrols {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #52899b;
  }