#topbar {
    width: 100%;
    height: 250px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.logo {
    width: auto;
    height: 200px;
    display: flex;
    float: left;
    margin: 10px;
}

.buttons {
    display: flex;
    padding: 10px 15px;
    flex-direction: row;
    justify-content: right;
}

.sign-up {
    color: white;
    font-weight: 700;
    background-color: #52899b;
    overflow: visible   ;
    outline: #52899b;
}

.textcontrols {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }