#topbar {
    width: 100%;
    height: 250px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.header-background {
    background-image:url("./logo/header.png");
    width: 100%;
    height: auto;
}

.logo {
    width: auto;
    height: 200px;
    display: flex;
    float: left;    
    margin: 10px;
    overflow: hidden;
}

.search-bar {
    align-items: center;
}

.all-buttons {
    position: absolute;
    right: 15px;
}

.sign-up {
    color: white;
    font-weight: 700;
    background-color: #52899b;
    outline: #52899b;
}

.logo:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}

.all-buttons:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}